* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
  }

.header-border{
    background-color: rgb(251, 249, 249);
    height: 80px;
    padding: 10px;
    
}

.title{
    font-size: 30px;
    /* vertical-align: middle; perche nn funziona ?*/
    
}

body{
    background-color: lightgray;
}

.container{
    background-color: white;
    width: 900px;
    height: 600px;
    margin: auto;
    /*vertical-align: bottom; perche nn funziona ? */
    padding: 40px;
}

#button-style{ 
    background-color: rgb(89, 149, 228);
    border-radius: 5px;
    padding: 5px;
    color: white;
    border-color: rgb(89, 149, 228);
}

#text-style{
    border-radius: 5px;
    padding: 5px;
    border-color: lightgray;
}

hr{
    margin:10px 0px 30px 0px;
    /* perche la linea nn occupa tutto il div */
}

.inline-block{
    display: inline-block;
    padding: 2px;
}

/* #arrow{
    width: 2px;
    height: 2px;

}  come faccio e renderlo piu piccolo*/

.check-mark{
    background-color: rgb(240, 242, 243);
    border-radius: 50%;
    padding: 5px;
    /* border-color: rgb(14, 118, 14); */
    color: rgb(42, 165, 95);
    
}



/* .button-edirorial{
    background-color: rgb(89, 149, 228);
    border-radius: 12px;
    padding: 2px;
    color: white;
    border-color: rgb(89, 149, 228);
} */

.botton-q1{
    background-color: rgb(139, 101, 145);
    border-radius: 12px;
    padding: 2px;
    color: white;
    border-color: rgb(142, 98, 155);
}

.botton-recruiting{
    background-color: rgb(113, 225, 135);
    border-radius: 12px;
    padding: 2px;
    color: white;
    border-color: rgb(113, 225, 135);
}

.botton-mobile{
    background-color: rgb(232, 170, 99);
    border-radius: 12px;
    padding: 2px;
    color: white;
    border-color: rgb(232, 170, 99);
}

.botton-website{
    background-color: rgb(232, 99, 219);
    border-radius: 12px;
    padding: 2px;
    color: white;
    border-color: rgb(232, 170, 99);
}

.botton-sales{
    background-color: rgb(115, 215, 82);
    border-radius: 12px;
    padding: 2px;
    color: white;
    border-color: rgb(115, 215, 82);
}